{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block h1 %} <h1>Liste des programmes</h1>{% endblock %}

{% block body %}
<div class="container d-flex justify-content-around mt-3">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset('build/images/squid-game-1.jpg') }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Squid Game</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{{ path('program_show', {id: 4})}}" class="btn btn-primary">Afficher</a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Afficher</a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Afficher</a>
    </div>
    </div>

</div>



{% endblock %}